#wrapper
	.left.about
		%h3 About Clucker
		%p Clucker is the next great sensation. It is built by complete noobs and it is gonna take over the world.
		%p When it breaks, and it will, we will show you a cute image of our patented "Fail Snail"
		%p Here is just a little taste.

	.right
		=image_tag "failsnail.png", :width=>"auto", :height=>"300", :id=>"imgFail"

= render :partial => "partials/footer"