#wrapper
	.team
		%h3 Who made this pile of awesome?!?

		%p Funny you should ask...they all just happen to be in this room right now!
		%ul
			%li Deon "Coach" McCormick
			%li Magdalyne "Charleston" Duffie
			%li David "White House" Curtis
			%li Grace "MBA" Pacencia
			%li Kelly "Laminate" Cobb
			%li Corey "New York" Harris
			%li Mallory "Newlywed" Pickard

= render :partial => "partials/footer"